@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
    --color-shade-white: rgb(217, 217, 217);
}

/* for debug */
.border-white {
    border: 2px solid white;
}

.border-red {
    border: 2px solid red;
}

.border-yellow {
    border: 2px solid yellow;
}

.border-blue {
    border: 2px solid blue;
}

/* actual css for wide use */
.crimson-pro {
    font-family: "Crimson Pro", serif;
    color: rgb(198, 198, 198);
    font-optical-sizing: auto;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.neutral {
    color: rgba(255, 255, 255, 0.2);
}

.correct {
    color: rgba(255, 255, 255, 0.6);
}

.incorrect {
    color: #D95F5F;
}

.incorrect-underline {
    text-decoration-line: underline;
    text-decoration-color: #D95F5F;
    text-underline-offset: 12px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.opacity-transition {
    transition: opacity 500ms ease;
}