@import "./theme.css";
@import "./rowan.css";
@import "./generalsans.css";
@import "tailwindcss";

@theme {
    --color-shade-white: rgb(217, 217, 217);
    --font-rowan: "Rowan", sans-serif;
    --font-general-sans: "GeneralSans", sans-serif;
}

/* for debug */
.border-white {
    border: 2px solid white;
}

.border-red {
    border: 2px solid red;
}

.border-yellow {
    border: 2px solid yellow;
}

.border-blue {
    border: 2px solid blue;
}

/* actual css for wide use */
.neutral {
    color: var(--sub-color);
}

.correct {
    color: var(--text-color);
}

.incorrect {
    color: var(--error-color);
}

.incorrect-underline {
    text-decoration-line: underline;
    text-decoration-color: var(--error-color);
    text-underline-offset: 8px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.caret-blink {
    animation: blink 1s ease-in infinite;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 500ms 100ms ease-in-out backwards;
}