@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
    --color-shade-white: rgb(217, 217, 217);
}

/* for debug */
.border-white {
    border: 2px solid white;
}

.border-red {
    border: 2px solid red;
}

.border-yellow {
    border: 2px solid yellow;
}

.border-blue {
    border: 2px solid blue;
}

/* actual css for wide use */
.crimson-pro {
    font-family: "Crimson Pro", serif;
    color: rgb(198, 198, 198);
    font-optical-sizing: auto;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

:root {
    /* mountain */
    /* --bg-color: #0f0f0f;
    --main-color: #d8dee9;
    --caret-color: #d8dee9;
    --sub-color: #4c566a;
    --sub-alt-color: #191919;
    --text-color: #d8dee9;
    --error-color: #bf616a;
    --error-extra-color: #8f3f45;
    --colorful-error-color: #bf616a;
    --colorful-error-extra-color: #8f3f45; */

    /* Gruvbox Dark */
    --bg-color: #282828;
    --main-color: #fabd2f;
    --caret-color: #fabd2f;
    --sub-color: #928374;
    --sub-alt-color: #1d2021;
    --text-color: #ebdbb2;
    --error-color: #fb4934;
    --error-extra-color: #cc241d;
    --colorful-error-color: #fb4934;
    --colorful-error-extra-color: #cc241d;
}

.neutral {
    color: var(--sub-color);
}

.correct {
    color: var(--text-color);
}

.incorrect {
    color: var(--error-color);
}

.incorrect-underline {
    text-decoration-line: underline;
    text-decoration-color: var(--error-color);
    text-underline-offset: 8px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.caret-blink {
    animation: blink 1s ease-in infinite;
}